h1{
    font-family: Arial;
    font-size: 40px;
    font-style:unset;
    color: #2F1C6A;
}
body{
    width:600px;
  height:180px;
  margin:auto;
  font-family:Arial;
  text-align: justify;
  line-height: 1.5
}
p ul{
    font-family: Arial;
    color: #36344D;
    font-size: 15px;

}
h2{
    font-family: Arial;
    font-size: 22px;
    font-style:unset;
    color: #2F1C6A;
}
#especial{
    font-family: Arial;
    font-size: 15px;
    font-style:unset;
    color: #2F1C6A;
    margin-left: 15px;

}