html{
    margin: 0%;
    height: 100%;
}

body{
    margin: 0%;
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100%;
}

body nav{
    grid-row: 1/2;
    background-color: rgb(190, 25, 25);

}

body nav section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}


@media only screen and (max-width: 900px){
    header1 div{
        font-size: 2px;
    }
}