*{
    font-family:sans-serif;
}

body, html{
    height: 100%;
}

.conteiner{
    display: grid;    
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 80% 10%;
    height: 100%;
}

header{
    background-color: #9E8164;
    grid-column:  1/4;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

header nav div:hover{
    color: #664422;
    
}

main{
    background-color: #EBBA88;
    grid-row: 2/3;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10%;
    text-align: justify;
}


aside {
    
    background-color: #7C96EB;
    grid-row: 2/4;
    line-height: 25px;
    
    
}

  



footer{
    background-color: #9E9844;
    color: whitesmoke;
    grid-row: 3/4;
    grid-column: 2/4;
}

.rotativo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.arredonda{
    border-radius: 100px;
}

aside ul li:hover{
    color: #000739;
}



.absoluto{
    position: absolute;
    top: 15%;
    right: 30px;
}

.fixed{
    position:fixed;
}


body{

    margin: 0;
}

h1, h2{
    text-align: center;
}

