*{
    font-family:sans-serif;
}

body, html{
    height: 100%;
}

.conteiner{
    display: grid;    
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 90%;
    height: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #9E8164;
    grid-column:  2/4;
    align-items: center;
    

    /*grid-template-columns: 1fr 1fr 1fr; */
}


main{
    background-color: #EBBA88;
    grid-row: 2/4;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 12%;
    text-align: justify;
    
    
}

main div{
    margin: 10px;
    text-indent: 40px;
    line-height: 1.6;
}


aside {
    display: flex;
    flex-direction: column;
    background-color: #7C96EB;
    grid-row: 1/4;
    line-height: 25px;
    align-items: center;
    
    
    
}

aside img{
    margin-top: 20px;
    overflow: hidden;
} 

aside img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

aside nav ul li a{
    text-decoration: none;
    color: black;
}

  



/*footer{
    background-color: #9E9844;
    color: whitesmoke;
    grid-row: 3/4;
    grid-column: 2/4;
} */

.rotativo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}



aside ul li:hover{
    color: #000739;
}



.absoluto{
    position: absolute;
    top: 15%;
    right: 23px;
}

.fixed{
    position:fixed;
}

.arredonda{
    border-radius: 100px;
    height: 40px;
}

#Tamanho{
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{

    margin: 0;
}

h1, h2{
    text-align: center;
}



