.noticia img {
    width: 100%;

}

.noticia img{
    width: 100%;
}

.noticia-principal{
    grid-column-start: 1;
    grid-column-end: 3;
    /*grid-column: 2/4*/
    /*grid-column: 2/span 2*/

    grid-row-start: 2;
    grid-row-end: 1;
    /*grid-row: 2/4*/
    /*grid-row: 2/span 2*/
}

.layout{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 0.5em;
    grid-row-gap: 2em;
    /*grid-gap: 0.5em 2em*/
    /* grid-auto-rows: 400px */
    /* grid-auto-rows: minmax(400px, auto)*/
}