body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(94, 107, 81);
    color: rgb(126, 9, 9);
    font-size:15pt;
}

h1 {
    color:rgb(243, 12, 12);

}
